@import url("@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Luckiest+Guy&family=Oswald:wght@400;600&family=Outfit&family=Press+Start+2P&family=Rubik:ital,wght@1,300;1,500&family=Staatliches&display=swap'")

html {
background-color: #e6e6fa;
}


body {
  font-family: "Rubik", "Cookie", "Oswald", sans-serif;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header nav"
    "main   main"
    "footer footer";
  grid-gap: 16px;

  max-width: 960px;
  margin: 0 auto;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
}

h1 {
  font-family:"Rubik", "cookie", "Oswald", sans-serif;
  font-weight: 500;
  margin: 0;
  text-decoration-color: #FF0000;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #555;
}

header {
font-family: "oswald", sans-serif;
font-weight: 400;
  background-color: #e6e6fa;
  color: #4ca5ff;
  padding: 16px;
  text-align: center;
  grid-area: header;
}

nav {
  grid-area: nav;

}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "introduction Geography "
    "government Economy"
    "sources CIA";

  grid-gap: 16px;
}

footer {
  grid-area: footer;
  padding: 16px;
}

footer p {
  margin: 0;
}

header,
nav,
footer {
  background-color: #e6e6fa;
}

section {
  background-color: #e6e6fa;
  padding: 16px;
}

#Intro {
  grid-area: introduction;
}


#geography {
  grid-area: Geography;
}

#government {
  grid-area: government;
}

#economy {
  grid-area: Economy;
}

#sources {
  grid-area: sources;
}

#CIA {
  grid-area: CIA;
}

li {
  padding: 15px;
  margin-bottom: 5px;
  background-color: #4ca5ff;
  color: #eee;
  text-align: center;
  display: inline-block;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}


Img {
  max-width: 100%;
  height: auto;
  background-image: url("uk-flag.jpg");
  background-image: url("unitedkingdom-building.jpg");
  background-image: url("uk-map.jpg");
}

.flexbox{
  display: flex;
}

a,
a:link {
 color:#eee;
}

a:visited {
  color: #4ca5ff;
}
a:hover {
  color: #4ca5ff;
  padding: 10px;
}

a:active {
  background-color: ##4ca5ff;
}
