@import url("@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Luckiest+Guy&family=Oswald:wght@400;600&family=Outfit&family=Press+Start+2P&family=Rubik:ital,wght@1,300;1,500&family=Staatliches&display=swap'");

html {
font-size: 62.5%
}


body {
  font-family: "Rubik", "Cookie", "Oswald", sans-serif;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  grid-gap: 16px;

  max-width: 1200px;
  margin: 0 auto;
}

* {
  font-family: "rubik", "Oswald";
   box-sizing: border-box;
   margin: 0; padding:0;
   text-decoration: none;
   outline: none; border:none;
   text-transform: capitalize;
   background-color: #FFFFFF;
}



h1 {
  font-family:"Rubik";
  font-weight: 500;
  font-size: 45px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 1rem 0;
  text-decoration-color: rgba(0,0,1);
}

.box-container{
  padding:1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.box{
  flex:1 1 20 rem;
}

h3{
  font-size: 1.7rem;
  padding:1rem 0;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  border-bottom: 1px solid #555;
}


header {
font-family: "Rubik", sans-serif;
font-weight: 500;
  background-color:rgba(0,0,1);
  color: rgba(0,0,1);
  padding: 16px;
  text-align: center;
  grid-area: header;
}

nav {
  font-size: 30px;

}



main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "home,image "

  grid-gap: 16px;
}

footer {
  grid-area: footer;
  padding: 16px;
}

footer p {
  margin: 0;
}



section {
  background-color: #e6e6fa;
  padding: 16px;
}

p {
  font-size: 25px;
}

li {
  padding: 15px;
  margin-bottom: 5px;
  background-color: #e6e6fa;
  color: #eee;
  text-align: center;
  display: inline-block;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}



Img {
  max-width: 60%;
  height: auto;
  background: ("brazill.jpg")
  background: ("austrailia.jpg");
  background:("brazil.JPG");
  background:("lima.jpg");
  background:("mexico.jpg");
  background:("machupichu.JPG");
  background:("somoa.jpg");
  background: ("LR.JPG");
  background: ("resume.jpg");
}

.flexbox{
  display: flex;
  display: inline-block;
}

a,
a:link {
 color:rgba(0,0,1);
}

a:visited {
  color: rgba(0,0,1);
}
a:hover {
  color: rgba(0,0,1);
  padding: 10px;
}

a:active {
  background-color: rgba(0,0,1);
}
