html {
  font-family: "Cookie", cursive;
}

* {
  box-sizing: border-box;
}


/* Large Sizing*/
@media only screen and (min-width: 992px) {
  .row {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* Extra Large Sizing*/
@media only screen and (min-width: 1200px) {
  .row {
    margin-left: 15%;
    margin-right: 15%;
  }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

header {
  background-color: red;
  color: red;
  padding: 15px;
  background-image: url("barcelona.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

li {
  padding: 15px;
  margin-bottom: 5px;
  background-color: blue;
  color: red;
  text-align: center;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .hidden {
    display: none;
  }

  @media only screen and (orientation: portrait) {
    body {
      background-color: yellow;
    }
  }
}
@media only screen and (orientation: landscape) {
  body {
    background-color: cyan;
  }
}

img {
  max-width: 100%;
  height: auto;
  background-image: url("barcelona.jpg");
}

.flexbox {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .flexbox {
    flex-direction: row;
    align-content: center;
  }
}

#headerStyle {
  background-color: yellow;
  position: sticky;
  top: 0;
}

#para {
  padding: 15px;
  margin-bottom: 5px;
  background-color: blue;
  color: yellow;
  text-align: center;
  display: inline-block;
}

a:link,
a :visited {
  text-decoration: none;
  background-color: red;
  display: inline-flex;
  justify-items: space-evenly;
}

a:hover,
a:active {
  background-color: red;
}
