

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;


  grid-template-columns: : 1fr 1fr;
  grid-templates-area:
  "Intro Intro"
  "government geography"
  "economy economy"
}

footer {
  grid-area: footer;
    background-color: #ddd;
}


section {
  background-color: #ff837a;
}

#Intro {
  grid-area: Intro;
}

#geography{
  grid-area: geography;
}

#government{
    grid-area: government;
}

#economy{
    grid-area: economy;
}


.flexbox {
  display: flex;
  flex-direction: column;
}
