body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header nav"
    "main   main"
    "footer footer";
  grid-gap: 16px;

  max-width: 960px;
  margin: 0 auto;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: #rgb(255, 0, 0);
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #555;
}

header {
font-family: "Cookie", cursive;
  padding: 16px;
  text-align: center;
  grid-area: header;
}

nav {
  grid-area: nav;

}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "introduction Geography "
    "government Economy"
    "sources CIA";

  grid-gap: 16px;
}

footer {
  grid-area: footer;
  padding: 16px;
}

footer p {
  margin: 0;
}

header,
nav,
footer {
  background-color: #eee;
}

section {
  background-color: #ddd;
  padding: 16px;
}

#Intro {
  grid-area: introduction;
}


#geography {
  grid-area: Geography;
}

#government {
  grid-area: government;
}

#economy {
  grid-area: Economy;
}

#sources {
  grid-area: sources;
}

#CIA {
  grid-area: CIA;
}

li {
  padding: 15px;
  margin-bottom: 5px;
  background-color: blue;
  color: yellow;
  text-align: center;
  display: inline-block;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}


Img {
  max-width: 100%;
  height: auto;
  background-image: url("uk-flag.jpg");
  background-image: url("unitedkingdom-building.jpg");
}

a,
a:link {
 color:#250,0,0;
}

a:visited {
  color: #0,0,255;
}
a:hover {
  color: #ddd;
  padding: 4px;
}

a:active {
  background-color: #eee;
}
